<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/dialog.css">
    <title>Мессенджер</title>
</head>
<body>
<div class="messenger-container">
    <aside class="sidebar">
        <h2 class="sidebar-title">Чаты</h2>
        <ul class="chat-list">
            <li class="chat-list-item">Избранные</li>
        </ul>
        <a href="/logout" class="logout-btn">Выйти</a>
    </aside>

    <main class="chat-section">
        <div class="chat-box">
            <h3 class="chat-title">💬 Чат</h3>
            <div class="messages-container">
                {% for msg in messages %}
                    <p class="chat-message">{{ msg }}</p>
                {% endfor %}
            </div>
        </div>
        <form method="POST" class="message-form">
            <input type="text" class="chat-input-mes" name="message" placeholder="Введите сообщение" required>
            <button type="submit" class="send-btn">Отправить</button>
        </form>
        <form method="POST" action="/clear" class="clear-form">
            <!-- <button type="submit" class="clear-btn">Очистить чат</button> -->
            <button onclick="document.body.classList.toggle('dark-mode')" class="theme-toggle">
    🌙 / ☀️ </button>
        </form>
    </main>
</div>
</body>
</html>