<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Вход</title>
</head>
<body>
    <!-- <h2 class="register">Вход</h2> -->
    <form method="POST">
        <div class="chat-footer">
            <h2 class="register">Вход</h2>
            <input type="text" class="chat-input" name="username" placeholder="Логин" required>
            <input type="password" class="chat-input" name="password" placeholder="Пароль" required>
            <button type="submit" class="send-btn">Войти</button>
            <p class="info-text">Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
        </div>
    </form>
    <!-- <p class="info-text">Нет аккаунта? <a href="/register">Зарегистрироваться</a></p> -->
</body>
</html>
