<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/dialog.css">
    <title>Мессенджер</title>
</head>
<body>
<div class="messenger-container">
    <aside class="sidebar">
        <h2 class="sidebar-title">Чаты</h2>
        <ul class="chat-list">
            {% for user in chats.keys() %}
                <li class="chat-list-item {% if chat_user == user %}active{% endif %}">
                    <a href="{{ url_for('messenger', chat_user=user) }}">{{ user }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('logout') }}" class="logout-btn">Выйти</a>
    </aside>
    <main class="chat-section">
        <div class="chat-box">
            <!-- <h3 class="chat-title">💬 {{ chat_user }}</h3> -->
            <h3 class="chat-title">💬 Чат</h3>
            <div class="messages-container">
                {% if messages %}
                    {% for msg in messages %}
                        <p class="chat-message">{{ msg }}</p>
                    {% endfor %}
                {% else %}
                    <p class="chat-empty">сообщений нет</p>
                {% endif %}
            </div>
        </div>
        <form method="POST" class="message-form">
            <input type="text" class="chat-input-mes" name="message" placeholder="Введите сообщение" required>
            <button type="submit" class="send-btn">Отправить</button>
        </form>
        <button onclick="document.body.classList.toggle('dark-mode')" class="theme-toggle">
            🌙 / ☀️
        </button>
    </main>
</div>
</body>
</html>
