<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Регистрация</title>
</head>
<body>
    <!-- <h2 class="register">Регистрация</h2> -->
    <form method="POST">
        <div class="chat-footer">
        <h2 class="register">Регистрация</h2>
        <input type="text" class="chat-input-reg" name="username" placeholder="Имя" required>
        <input type="password" class="chat-input-reg" name="password" placeholder="Пароль" required>
        <button type="submit" class="send-btn">Зарегистрироваться</button>
        <p style="color: cornflowerblue;">Уже есть аккаунт? <a href="/login">Войти</a></p>
        </div>
    </form>
    <!-- <p style="color: cornflowerblue;">Уже есть аккаунт? <a href="/login">Войти</a></p> -->
</body>
</html>
